.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}
.service-item {
  margin-bottom: 15px;
}
i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}
h4.service-title {
    padding: 20px 0px 10px 0px;
    font-weight: bold;
}

/* 한번도 클릭하지 않은 링크, none으로 언더라인 생기지 않게 함 */
	a:link {color:#ffffff; text-decoration:none;}
	한번 이상 클릭한 링크, none으로 언더라인 생기지 않게 함
	a:visited {color:#ffffff; text-decoration:none;}	
	마우스 오버시 링크 색상, none으로 언더라인 생기지 않게 함
	a:hover {color:#ffffff; text-decoration:none;}
	
	이미지 마우스 오버시 커서 포인터 변경
	.action{
	  cursor: pointer;
	}

