#msgicon{
   margin-top: -80px;
   margin-left: 35%;
   margin-bottom: -2%;
}
/* ----------messagesendlist.jsp----------- */
.chat-message {
  padding: 60px 20px 115px;
}

.chat {
    list-style: none;
    margin: 0;
}

/* .chat-message{
    background: #f9f9f9;  
} */

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat li .chat-body .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat-box {
  position: fixed;
  bottom: 0;
  left: 444px;
  right: 0;
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}
/* ----------------------------------- */
#msgContent{
   border-style: solid;
   border-color: white;
   border-width: 1.5px;
   text-align: center;
    width: 300px;
    height: auto;
    margin-left: 37%;
    margin-right: 30%;
    padding-bottom: 34px;
    padding-top: 9px;
}

#detail-pica{
   background-color: #7fbbda;
}
#detail-picb{
   margin-top: -4%;
   margin-bottom: -2%;
}

#list-form{
   margin-bottom: -5%;
}

#list-font{
   color: #000000;
}

#plist{
   margin-left: 50%;
}

.services {
  background: #7fbbda;
  padding: 80px 0;
  color: #ffffff;
}
.service-item {
  margin-bottom: 15px;
}
i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}
h4.service-title {
    padding: 20px 0px 10px 0px;
    font-weight: bold;
}

/* 한번도 클릭하지 않은 링크, none으로 언더라인 생기지 않게 함 */
   a:link {/* color:#ffffff; */ text-decoration:none;}
   한번 이상 클릭한 링크, none으로 언더라인 생기지 않게 함
   a:visited {color:#ffffff; text-decoration:none;}   
   마우스 오버시 링크 색상, none으로 언더라인 생기지 않게 함
   a:hover {color:#ffffff; text-decoration:none;}
   
   이미지 마우스 오버시 커서 포인터 변경
   .action{
     cursor: pointer;
   }
   
/*    추가사항  12/7 밤 */
 messageDetail 부분

#messageSender{
   color: white;
}
#messageDate{
   color: #d5d5d5;
}

.profile-widget {
  position: relative;
}
.profile-widget .image-container {
  background-size: cover;
  background-position: center;
  padding: 50px 0 10px;
   
}
.profile-widget .image-container .profile-background {
  width: 100%;
  height: auto;
}
.profile-widget .image-container .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: block;
}
.profile-widget .details {
  padding: -20px 15px 15px;
  text-align: center;

}

/* <!--버턴 -->
.btn-blue {
  background-color: #3498db;
  border-color: #3498db;
  color: white;
}
.btn-blue:hover,
.btn-blue:visited {
  background-color: #2980b9;
  color: white;
}
.btn-green {
  background-color: #2ecc71;
  border-color: #27ae60;
  color: white;
}
.btn-green:hover,
.btn-green:visited {
  background-color: #27ae60;
  color: white;
}
<!--버턴 --> */

/* Component: Panel

/* 경계선
.panel-white {
  border: 1px solid #dddddd;
}